Multi_intent_data/STS[[:space:]]data/training_data/pair_few_COT_prompting_fushion.json filter=lfs diff=lfs merge=lfs -text
Multi_intent_data/STS[[:space:]]data/training_data/pair_new_few_prompting_fushion.json filter=lfs diff=lfs merge=lfs -text
Multi_intent_data/STS[[:space:]]data/training_data/pair_new_zero_COT_prompting_fushion.json filter=lfs diff=lfs merge=lfs -text
